body {
  background: url(../images/chicago.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}
/*Specify the text style of the about page title*/
.title {
    font-family: Georgia, Serif;
    font-size: 80px;
    display:  block;
    text-align: center;
    line-height: 110%;
    color: #4d78bc
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*Specify the text style of the About paragraph - white font with black border so it can easily be seen on the background and smaller than the title*/
p{
  font-family: Arial, sans-serif;
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 110%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
  width: 25%;
	height: 30%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 20px;
	margin: auto;
}

main label {
  color: #4d78bc;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #4d78bc;
}
