/*Page that specifies the styling componenets
for the tab in the maps page that shows you all
flight information */

/*should the page render incorrectly, this image will appear*/
body {
  background: url(../images/chicago.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;  /*mozilla firefox*/
  -o-background-size: cover;    /*opera*/
  background-size: cover;
}

/*specifies unordered list format for the data*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

main {
  width: 25%;
	height: 30%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 20px;
	margin: auto;
}

main label {
  color: #4d78bc;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #4d78bc;
}

