/*sets background to img, will eventually show the */
/*image of the city in which user is located*/
/*styles DOM box features of unordered list*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*styles list items */
li {
    float: right;
}
/*set font, color, size, alignment of title*/
.title{
    font-family: Georgia, Serif;
    font-size: 125px;
    display: block;
    text-align: center;
    line-height: 150%;
    color: #e3e3e3;
}
/*positioning of main DOM item*/
main {
  width: 25%;
	height: 30%;
	position: absolute;
	top:0px;
	bottom: 150px;
	left: 0px;
	right: 0px;
    padding: 20px;
	margin: auto;
}
/*sets color of main item*/
main label {
  color: #4d78bc;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*sets item of decor (display, color, align etc) of each list item*/
/*(text entry field)*/
li a {
    display: block;
    color: white;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
    text-align: center;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
}
/*edits hover display*/
li a:hover {
    background-color: white;
    text-shadow: none;
    color: #4d78bc;
}
/*styles entry field for the location and flight info*/
input[type=text], select {
    width: 100%;
    font-size:15px;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    border-color: #e3e3e3;
    box-sizing: border-box;
}
/*styles the Go! button*/
input[type=button] {
    width: 100%;
    background-color: #e3e3e3;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border-color: #e3e3e3;
    border-width: 0px;
    cursor: pointer;
    font-weight: bold;
}
/*styles the hover display over item*/
input[type=button]:hover {
    background-color: white;
}
