body {
    background-image:
    /*https://www.w3schools.com/css/css_background.asp*/
    /*background-image: url("")*/
    /*font-family: "Lato", sans-serif;*/
    /*background-color: #dee7ef;*/
}/* Standard syntax */

.title{
    text-align: center;
    position: fixed;
    font-family: 'fontawesome', Georgia, Serif;
    font-src: fontawesome-webfont;
    /*scr: url(fontawesome.woff);*/
    text-rendering: optimizeLegibility;
    height: inherit;
    font-size: 1.5em;
    line-height: 1rem;
}
/*Should be in the lower middle of the page i
ballparked the location and size of the box so play with this as you wish.*/
.google_maps{
    display: block;
    background-color: cornflowerblue;
    border: cornflowerblue;
    font-family: "futura";
    font-stretch: ultra-expanded;
    font-size: .7em;
    color: white;
    top: 350px;
    left: 600px;
    width: 150px;
    height: 50px;
}

/*
First ruleset for the sidenav class. This ruleset sets the height,width,z-index for
the stacking order, position, padding, and overflow-x for the edges.
*/
.sidenav {
    display: none;
    height: 100%;
    width: 200px;
    position: fixed;/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6d7582;
    overflow-x: hidden;
    padding-top: 60px;
}
/*
anchor elements that are in the sidenav will have the 8,8,8,32px padding and 25px Lato font.
*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s
}
/*
anchor elements pseudo classes will change the color to f1f1f1 on hover.
*/
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/*
closebtn within the element sidenav will have an absolute position and a font-size of 36px Lato
*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*
Will change the sidenav padding and sidenav anchor font if width is less the 450px
*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
