/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
  border-color: gray;
}

nav {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  background-color: #4d78bc;
}

label {
  color: lightgray;
}

h1 {
  color: #4d78bc;
}

h2 {
  color: black;
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4d78bc;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.labelname {
  width: 100%;
  font-size:16px;
  padding: 0px 0px 0px 0px;
  color: #4d78bc;
}

.labelgo {
  width: 100%;
  font-size:26px;
  padding: 0px 0px 0px 0px;
  color: #4d78bc;
}

.labelvalue {
  width: 100%;
  font-size:16px;
  padding: 0px 0px 0px 0px;
  color: black;
}

.sidenavtop {
  width: 100%;
  height:  95%;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s
}

.sidenavtop label {
  width: 100%;
  font-size:16px;
  padding: 0px 0px 0px 0px;
}
.title{
    text-align: center;
    position: fixed;
    font-family: 'fontawesome', Georgia, Serif;
    font-src: fontawesome-webfont;
    /*scr: url(fontawesome.woff);*/
    text-rendering: optimizeLegibility;
    height: inherit;
    font-size: 1.5em;
    line-height: 1rem;
}


input[type=text], select {
    width: 100%;
    font-size:15px;
    padding: 10px 10px;
    display: inline-block;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
}
input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #4d78bc;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4d78bc;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4d78bc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #4d78bc;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4d78bc;
}

input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

/*
First ruleset for the sidenav class. This ruleset sets the height,width,z-index for
the stacking order, position, padding, and overflow-x for the edges.
*/
.sidenav {
    display: none;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-width: thick;
    background-color: #ebeff4;
    overflow-x: hidden;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20px;
}
/*

*/
.sidenavtirm {
  height: 100%;
  width: 10px;
  background-color: #4d78bc;
  position: absolute;
  top: 0px;
  right: 0px;
}
/*
anchor elements that are in the sidenav will have the 8,8,8,32px padding and 25px Lato font.
*/
.sidenav a {
    padding: 0px 0px 0px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s
}
/*
anchor elements pseudo classes will change the color to f1f1f1 on hover.
*/
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/*
closebtn within the element sidenav will have an absolute position and a font-size of 36px Lato
*/
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}
/*
Will change the sidenav padding and sidenav anchor font if width is less the 450px
*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
